css
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  color: #1F3C66;
  margin: 0;
}
/* this is for the logo y la parte de arriba de la pagina*/
header {
  display: flex;
  align-items: center;
  background-color: #412d70;
  padding: 10px 20px;
}

.logo h1 {
  margin: 0;
  justify-content: start;
  font-size: 40px;
  color: white;
  cursor: default;
}




    main {
      max-width: 900px;
      margin: 40px auto;
      padding: 0 20px;
      text-align: center;
    }

    main h2 {
      font-size: 3vw;
      margin-bottom: 100px;
      color: black;
    }

    main p {
      font-size: 1.90vw;
      line-height: 1.6;
      margin-bottom: 75px;
      color: black;
    }

    main img {
      aspect-ratio: 4 / 3;
      width: 20vw;
      border-radius: 10px;
      margin-bottom: 30px;
    }

    .image-row {
      display: flex;
      gap:5vw;
    }  
    footer {
      text-align: center;
      padding: 20px;
      background-color: white;
      color: #1F3C66;
      margin-top: 40px;
      font-size: 15px;
    }
    /*esto para el box debajo de la imagen para poder ir a cada materia*/
    .link-materias {
      font-size: 1.75vw;
      text-decoration: none;
      background-color: rgb(87, 39, 119);
      color: white;
      aspect-ratio: 8/1;
      border-radius: 15px;
      display: inline-block;
      width: 20vw;
      align-items: center;
      text-align: center;
    }

  .sub-titulos {
    text-align: left;
    color: black;
  }
  .sub-titulos h1 {
    font-size: 4vw;
  }
  .sub-titulos h2 {
    font-size: 3vw;
  }
  summary {
    list-style: none;
    font-size: 2vw;
    cursor: pointer;
    font-weight: bold;
    color: white;
    text-align: left;  
  }
  .arrow-tlist::before {
    content: "✨";
    display: inline-block;
    margin-right: 8px;
    transition: trasform 0.3s ease;
  }
  details[open] .arrow.tlist::before {
      transform: rotate(180deg);
  }
  details[open] {
    background-color:#412d70;
  }
  .style-toggle-list {
    border: 2px solid #412d70;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    background-color: #412d70;
  }
  details ul li {
    font-size: 1.75vw;
    color: white;
    text-align: left;
  }
  details ul li a {
    color: white;
    text-decoration: none;
  }
  
