css
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background: #E5D2BD;
  color: #1F3C66;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  background-color: #412d70;
  padding: 10px 20px;
}

.logo h1 {
  margin: 0;
  justify-content: start;
  font-size: 40px;
  color: white;
  cursor: default;
}




    main {
      max-width: 900px;
      margin: 40px auto;
      padding: 0 20px;
      text-align: center;
    }

    main h2 {
      font-size: 36px;
      margin-bottom: 20px;
      color: black;
    }

    main p {
      font-size: 24px;
      line-height: 1.6;
      margin-bottom: 30px;
      color: black;
    }

    main img {
      max-width: 320px;
      height: 240px;
      border-radius: 10px;
      margin-bottom: 30px;
    }

    .image-row {
      display: flex;
      justify-content: center;
      gap:20px
    }  
    footer {
      text-align: center;
      padding: 20px;
      background-color: white;
      color: #1F3C66;
      margin-top: 40px;
      font-size: 15px;
    }
    .link-materias {
      font-size: 20px;
      text-decoration: none;
      background-color: rgb(87, 39, 119);
      color: white;
      width: 320px;
      height: 40px;
      line-height: 40px;
      border-radius: 15px;
      display: inline-block;
      font-weight: 100;
    }
  .link-temas {
    font-size:20px;
    color: blue;
  }
  
